/* 
    ===========================
    NAVBAR STYLES ON ADMIN PAGE
    ===========================
*/

nav {
    background-color: #b05802;
    height: 4.5rem;
    z-index: 1;
    color: #ffffff;
}




nav.container, main.container, footer.container {
    width:100%;
    max-width:none ;
    padding: 0 auto;
}

.navbar-brand,
.nav-link {
    color: #ffffff;
    font-size: 1rem;
    transition: all .3s;
} 

.navbar-brand:hover ,.nav-link:hover{
    text-decoration: none;
    cursor: pointer;
    color: #a8a8a8;
    transform: scale(.98);
}

nav #navbarNavDropdown{
	background-color: #b05802 !important;
}


/* 
    ===========================
    MAIN STYLES ON ADMIN PAGE
    ===========================
*/

.wrapper {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wrapper div a {
    text-decoration: none;
}

.centered-nav {
    height: 200px;
    width: 300px;
    padding: 10px;
    margin: 12px;
    vertical-align: middle;
    line-height: 8em;
}
.centered-nav h1 {
    font-size: 1.5rem;
    color: #ffffff;
}

.Deals {
    background-color: #e09245b6;
    transition: all .5s;
}
.Investors {
    background-color: #b05902ea;
    transition: all .5s;
}
.Portfolio {
    background-color: #b05902ea;
    transition: all .5s;
}
.Funds {
    background-color: #e09245b6;
    transition: all .5s;
}
.centered-nav:hover {
    background-color: rgba(34, 34, 34, 0.685);
    transform: translateY(-3px);
}


@media all and (min-width: 600px) {
    .wrapper {
        /* height: 90vh; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }
}
@media all and (max-width: 600px) {
    .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .centered-nav {
        height: 200px;
        width: 300px;
        padding: 10px;
        margin: 12px;
        vertical-align: middle;
        line-height: 8em;
    }
}

.admin-main {
    background-image: url(../resources/investorpanel.webp);
    background-size: cover;
}

/* 
    ====================
    LOGIN BUTTON STYLES
    ====================
*/
.navbar .nav-item form.profile .logout_btn {
    width: 80px;
    border-radius: 5px;
    border-color: #ffffff;
    padding: 5px;
    background-color: #6b0111;
    color: #ffffff;
    transition: all .5s;
}

.navbar .nav-item form.profile .logout_btn:hover {
    width: 80px;
    border-radius: 5px;
    border-color: #6b0111;
    padding: 5px;
    background-color: #ffffff;
    color: #6b0111;
}

/* BUTTON STYLES */
.new-button {
    border: 1px solid #2f470c;
    border-radius: 5px;
    padding: 5px 10px;
}


main div .card .card-body{
    background-color:#b05802 !important;
}

/* HTML TABLE STYLE */
.table{
    table-layout:fixed;
}


main.single_View {
    background-color: #e7e8ea;
}

main.single_View div div div div p{
    border: 1px solid black;
    padding: 5px;
    font-weight: 600;
}


/* 
    STYLES FOR THE FOOTER
*/
footer  h3{
    color: #ffffff;
}

footer .footer-upper{
    background-color: #b05902b9;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer .footer-lower{
    background-color: #b05802;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #ffffff;
    text-align: center;
}
.footer_nav div .footer_nav_a {
    text-decoration: none;
    color: #ffffff;
}
.footer_nav div .footer_nav_a:hover {
    text-decoration: none;
    color: #e09345;
}


@media 
only screen and (max-width: 760px),
(min-device-width: 300px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
	   border: 1px solid #ccc; 
	   margin-bottom:5px;
	   justify-content: center;
	   align-content: center;
	}

	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    
	.dataTables_wrapper .dataTables_filter input {
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 2px;
        background-color: transparent;
        margin-left: 3px;
        margin-bottom:10px;
    }
}

/* 
    ==========================================
        RESPONSIVE STYLES TO THE LOGIN PAGE 
    ==========================================
 */
 @media all and (min-device-width:1024px){
	.login-main .card {
        width: 500px;
     }
}

@media all and (max-device-width:980px){
	.login-main .card {
        width: max-content;
     }
    .nav-item{
        padding-left: 15px;

    }
}

/* 
    =====================================================================
        REMOVING THE MARGINS FROM THE CONTAINER CLASS IN BOOTSTRAP 
    =====================================================================
 */
.container {
    max-width: 1350px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


.navbar-nav {
    padding-left: 10px;
    padding-bottom: 10px;
}

.allowedFileType {
    color: #b05802;
}