@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.body{
margin: 0;
padding: 0;
box-sizing: border-box ;
font-family: 'Poppins',sans-serif;
}  
.Contact{
position: relative;
min-height: 100vh;
padding: 50px 100px;
display: flex;
justify-content: center; 
align-items: center;
flex-direction: column;
background: url(../resources/data.jpg);
background-size: cover;
}
.Contact .content{
    max-width: 800px;
    text-align: center;
}

.Contact .content h2{
    font-size: 36px;
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
width: 50%;
display: flex;
flex-direction: column;

}

.container .contactInfo .box{

    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;

}
.container .contactInfo .box h3{
font-size: 16px;
font-weight: 500;
color: #fff;
}
.container .contactInfo .box p{
    font-weight: 300;
    color: #fff;
}

.social{
	display: flex;
}
.social a{
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #ffffff;
	border-radius: 50%;
	margin: 30px 10px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

  @media(max-width: 991px)
  {
      .container{
           flex-direction: column ;
      }
      .Contact{
          padding: 50px;
      }
      .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo{
        width: 100%;    }

  }