.wrapper {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wrapper div a {
    text-decoration: none;
}

.centered-nav {
    height: 200px;
    width: 300px;
    padding: 10px;
    margin: 12px;
    vertical-align: middle;
    line-height: 8em;
}
.centered-nav h1 {
    font-size: 1.5rem;
    color: #ffffff;
}

.Deals {
    background-color: #00c900c4;
    transition: all .5s;
}
.Investors {
    background-color: #2f470cc9;
    transition: all .5s;
}
.Portfolio {
    background-color: #2f470cc9;
    transition: all .5s;
}
.Funds {
    background-color: #00c900c4;
    transition: all .5s;
}
.centered-nav:hover {
    background-color: rgba(34, 34, 34, 0.685);
    transform: translateY(-3px);
}


@media all and (min-width: 600px) {
    .wrapper {
        /* height: 90vh; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }
}
@media all and (max-width: 600px) {
    .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .centered-nav {
        height: 200px;
        width: 300px;
        padding: 10px;
        margin: 12px;
        vertical-align: middle;
        line-height: 8em;
    }
}

.index-main {
    background-image: url(../resources/investorpanel.webp);
    background-size: cover;
}

nav{
	background-image: linear-gradient(to left,#2f470c, #2f470c, #2f470c, #2f470c, #fff);    
    padding-left: 20px;
    padding-right: 20px;
}


/* 
    ==========================================
        RESPONSIVE STYLES TO THE LOGIN PAGE 
    ==========================================
 */
 @media all and (min-device-width:1024px){
	.login-main .card {
        width: 500px;
     }
}

@media all and (max-device-width:980px){
	.login-main .card {
        width: max-content;
     }
     .nav-item{
     	    padding-left: 15px;

     }
}

/* 
    =====================================================================
        REMOVING THE MARGINS FROM THE CONTAINER CLASS IN BOOTSTRAP 
    =====================================================================
 */


header .navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-nav {
    padding-left: 10px;
    padding-bottom: 10px;
}

@media all and (max-width:980px){ 
    .container {
        max-width: 1350px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}