.wrapper {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wrapper div a {
    text-decoration: none;
}

.centered-nav {
    height: 200px;
    width: 300px;
    padding: 10px;
    margin: 12px;
    vertical-align: middle;
    line-height: 8em;
}
.centered-nav h1 {
    font-size: 1.5rem;
    color: #ffffff;
}

.Deals {
    background-color: #00c900;
    transition: all .5s;
}
.Investors {
    background-color: #2f470c;
    transition: all .5s;
}
.Portfolio {
    background-color: #2f470c;
    transition: all .5s;
}
.Funds {
    background-color: #00c900;
    transition: all .5s;
}
.centered-nav:hover {
    background-color: rgba(34, 34, 34, 0.685);
    transform: translateY(-3px);
}


@media all and (min-width: 600px) {
    .wrapper {
        /* height: 90vh; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }
}
@media all and (max-width: 600px) {
    .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .centered-nav {
        height: 200px;
        width: 300px;
        padding: 10px;
        margin: 12px;
        vertical-align: middle;
        line-height: 8em;
    }
}

.index-main {
    background-image: url(../resources/data.jpg);
    background-size: cover;
}

.container {
    max-width: 1350px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}