/* 
/// Header - Navbar Styles///
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.container {
    max-width: 1350px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


nav {
    background-color: #2f470c;
    height: 4.5rem;
    z-index: 1;
    color: #ffffff;
}
nav.container, main.container, footer.container {
    width:100%;
    max-width:none ;
    padding: 0 auto;
}

.navbar-brand,
.nav-link {
    color: #ffffff;
    font-size: 1.1rem;
    transition: all .3s;
} 

.navbar-brand:hover ,.nav-link:hover{
    text-decoration: none;
    cursor: pointer;
    color: #a8a8a8;
    transform: scale(.98);
}

/* 
    STYLES FOR THE FOOTER
*/
footer  h3{
    color: #ffffff;
}

footer .footer-upper{
    background-color: #447002a9;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer .footer-lower{
    background-color: #2f470c;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #ffffff;
    text-align: center;
}
.footer_nav div .footer_nav_a {
    text-decoration: none;
    color: #ffffff;
}
.footer_nav div .footer_nav_a:hover {
    text-decoration: none;
    color: #00c900;
}

/* HTML TABLE STYLE */
.table{
    table-layout:fixed;
}

/* BUTTON STYLES */

.new-button {
    border: 1px solid #2f470c;
    border-radius: 15px;
    padding: 5px 10px;
}

/* 
===================
LOGIN FORM STYLES
===================
*/

.login-main #login {
    color: #2f470c !important;
}

.login-main .card {
    width: 500px;
}
.login-main #login label{
   font-weight: 600;
}
.login-main #login hr{
    border-bottom: #2f470c 2px solid ;
}
.login-main div.username, 
.login-main div.userpassword {
    padding: 5px;
    display: flex;
}
.login-main div.FirstName input,
.login-main div.LastName input,
.login-main div.username input, 
.login-main div.userpassword input{
    border: none;
    height: 25px;
}
.login-main div.username img, 
.login-main div.userpassword img{
    width: 25px;
    height: 25px;
}

/* 
    ======================
    LOGIN BUTTON STYLES
    ======================
 */
.login-main #login .login-btn {
    color: #2f470c !important;
    width: 100px;
    padding: 3px;
    border-radius: 22.5px;
    background-image: linear-gradient(to left,#2f470c87 ,#71943d95,  #ffffff,#ffffff);
    transition: color .4s, background-image 18s, transform 5s;
}
.login-main #login .login-btn:hover {
    color: #ffffff !important;
    background-image: linear-gradient(to right, #2f470c ,#71943d, #ffffff);
    transform: scale(.95);
}
/* 
    ======================
    REGISTER BUTTON STYLES
    ======================
 */
.login-main #login .register-btn {
    color: #2f470c !important;
    width: 100px;
    padding: 3px;
    border-radius: 22.5px;
    background-image: linear-gradient(to left,#b30600 ,#db10099e,  #ffffff,#ffffff);
    transition: color .4s, background-image 18s, transform 5s;
}
.login-main #login .register-btn a,
.login-main #login .login-btn a {
    color: #2f470c !important;
    text-decoration: none;
}
.login-main #login .register-btn:hover {
    color: #ffffff !important;
    background-image: linear-gradient(to right, #b30600 ,#db10099e,  #ffffff,#ffffff);
    transform: scale(.95);
}
/* 
    =========================
    SINGLE ENTITY VIEW STYLES
    =========================
*/
main.single_View {
    background-color: #e7e8ea;
}

main.single_View div div div div p{
    border: 1px solid #2f470c;
    padding: 5px;
    font-weight: 600;
}

/* 
    ========================================
    RESPONSIVE BEHAVIOUR OF TABLES ON MOBILE
    ========================================
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 300px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
	   border: 1px solid #ccc; 
	   margin-bottom:5px;
	   justify-content: center;
	   align-content: center;
	}

	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    
	.dataTables_wrapper .dataTables_filter input {
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 2px;
        background-color: transparent;
        margin-left: 3px;
        margin-bottom:10px;
    }
}

