/* 
/// Header - Navbar Styles///
*/

nav {
    background-color: #2f470c;
    height: 4.5rem;
    z-index: 1;
    color: #ffffff;
}
/* .navbar {
    background-color: #2f470c;
} */
nav.container, main.container, footer.container {
    width:100%;
    max-width:none ;
    padding: 0 auto;
}

.navbar-brand,
.nav-link {
    color: #ffffff;
    font-size: 1.1rem;
    transition: all .3s;
} 

.navbar-brand:hover ,.nav-link:hover{
    text-decoration: none;
    cursor: pointer;
    color: #a8a8a8;
    transform: scale(.98);
}


/* HTML TABLE STYLE */
.table-style{
    width: 100%;
}
th, td {
    white-space: Wrap;
    text-align: left;
    padding: 8px;
    width: max-content;
  }

/* BUTTON STYLES */

.new-button {
    border: 1px solid #2f470c;
    border-radius: 15px;
    padding: 5px 10px;
}